
body {
    background-color: #dde6eb;
  }

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delete-form {
    display: inline;
}

#newText {
    font-family: 'Luckiest Guy', cursive;
    color: #3B27bA
}

